package config

// Important: 此文件为自动生成的代码，请不要提交
// Important: 本文件用户映射配置文件csv的字段，仅用与csv的数据持有对象

// {{.CsvMetaVarName}} 保存一些从 csv 文件读取过来的元信息

var {{.CsvMetaVarName}} = CsvMeta{
	Filename:        "{{.CsvFilename}}",
	FilePath:        "{{.CsvFilePath}}",
	DataRowCount:    {{.CsvDataRowCount}},
	DataColumnCount: {{.CsvDataColumnCount}},
}

// 以下是所有的配置项目, 每一个代表原文件中的一行

{{- range .Variables }}
var {{.VariableName}} = {{.VariableValue}} // {{.ColIndex}} {{.OriginalName}}; TYPE:{{.OriginalType}}; VAL:{{.OriginalVal}}; DESC:{{.OriginalDesc}}
{{- end }}
